absl-py==1.0.0
alright==1.6
altgraph==0.17.2
anyio==3.4.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
attrs==21.2.0
auto-py-to-exe==2.15.0
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.9.3
bidict==0.21.4
bleach==4.1.0
blis==0.7.5
boto3==1.20.24
botocore==1.23.24
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.4
catalogue==2.0.6
certifi==2021.5.30
cffi==1.14.5
characteristic==14.3.0
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
clipboard==0.0.4
cloudpickle==2.0.0
colorama==0.4.4
coloredlogs==15.0.1
configparser==5.2.0
constantly==15.1.0
crayons==0.4.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.23
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.4
Eel==0.12.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.2.0/es_core_news_sm-3.2.0-py3-none-any.whl
et-xmlfile==1.1.0
filelock==3.4.0
Flask==2.0.2
Flask-SocketIO==5.1.1
flatbuffers==2.0
fonttools==4.28.4
future==0.18.2
gast==0.4.0
gensim==4.1.2
gevent==21.1.2
gevent-websocket==0.10.1
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==3.0.0
greenlet==1.1.0
grpcio==1.43.0
h11==0.9.0
h2==3.2.0
h5py==3.6.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
humanfriendly==10.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.10.0
incremental==21.3.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jaraco.functools==3.3.0
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonschema==4.3.1
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-server==1.13.1
jupyterlab==3.2.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.9.0
keras==2.7.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.3.2
klein==21.8.0
langcodes==3.3.0
libclang==12.0.0
libretranslatepy==2.1.1
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mediapipe==0.8.9.1
mistune==0.8.4
more-itertools==8.8.0
MouseInfo==0.1.3
msedge-selenium-tools==3.141.3
murmurhash==1.0.6
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
newsapi-python==0.2.6
nltk==3.6.2
nose==1.3.7
notebook==6.4.6
numpy==1.21.4
oauthlib==3.1.1
openai==0.11.5
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandas-stubs==1.2.0.40
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pathy==0.6.1
pefile==2021.9.3
pickleshare==0.7.5
Pillow==8.3.1
platformdirs==2.4.0
plumbum==1.7.2
preshed==3.0.6
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.19.1
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/Sebasti%C3%A1n/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.35
pycparser==2.20
pydantic==1.8.2
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.10.0
pyinstaller==4.8
pyinstaller-hooks-contrib==2021.5
PyJWT==2.3.0
PyMsgBox==1.0.7
pynput==1.7.3
pyparsing==3.0.6
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyreadline3==3.3
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.26
python-dateutil==2.8.2
python-engineio==4.3.0
python-Levenshtein==0.12.2
python-socketio==5.5.0
pyttsx3==2.71
PyTweening==1.0.3
pytz==2021.1
pywhatkit==5.2
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==1.1.6
PyYAML==5.4.1
pyzmq==22.3.0
rasa-nlu==0.13.2
regex==2021.8.21
requests==2.26.0
requests-oauthlib==1.3.0
rfc3986==1.5.0
rsa==4.8
s3transfer==0.5.0
scikit-learn==1.0.1
scipy==1.7.3
selenium==3.141.0
semantic-version==2.8.5
Send2Trash==1.8.0
setuptools-rust==1.1.2
simplejson==3.17.6
six==1.16.0
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
sockets==1.0.0
soupsieve==2.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SpeechRecognition==3.8.1
srsly==2.4.2
tempora==4.1.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
thinc==8.0.13
threadpoolctl==3.0.0
tornado==6.1
tqdm==4.62.2
traitlets==5.1.1
translate==3.6.1
Tubes==0.2.0
twilio==7.4.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typer==0.4.0
typing_extensions==4.0.1
urllib3==1.26.6
virtualenv==20.10.0
wasabi==0.9.0
wcwidth==0.2.5
webdriver-manager==3.5.2
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
whichcraft==0.6.1
wikipedia==1.4.0
winapps==0.2.0
WMI==1.5.1
word2number==1.1
wrapt==1.13.3
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
